@{
    ViewData["Title"] = "Team";
}
<div class="container-fluid page-data">
    <div class="container">
        <div class="section-header-wrap">
            <div class="section-header">
                <i class="fa fa-user-secret"></i>
                <p>Higher-Ups</p>
            </div>
            <div class="clear">
                <div class="team col-xs-12 col-sm-6">
                    <h4 class="title">Kwoth</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="http://nadekobot.xyz/wp-content/uploads/2016/07/Nadeko.jpg" alt="NadekoBOT_Master Kwoth">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Lead Developer</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-6">
                    <h4 class="title">Mirai</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="http://nadekobot.xyz/wp-content/uploads/2016/07/He9vun.jpg" alt="NadekoBOT_Magical Girl">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Magical Girl</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-3">
                    <h4 class="title">Phildo</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="http://nadekobot.xyz/wp-content/uploads/2016/07/lq9dxS.jpg" alt="NadekoBOT_Phildo">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Customer Support</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-3">
                    <h4 class="title">Pluriscient</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="http://nadekobot.xyz/wp-content/uploads/2016/07/45WSUO.jpg" alt="NadekoBOT_Pluriscient">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Customer Support</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-3">
                    <h4 class="title">samvaio</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="http://nadekobot.xyz/wp-content/uploads/2016/07/dKCni1.jpg" alt="NadekoBOT_samvaio">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Customer Support</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-3">
                    <h4 class="title">Kong</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="http://nadekobot.xyz/wp-content/uploads/2016/07/Derpestia.png" alt="NadekoBOT_Kong">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Customer Support</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-header-wrap clear">
            <div class="section-header">
                <i class="fa fa-users"></i>
                <p>Contributors</p>
            </div>
        </div>
    </div>
</div>