<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <title>NadekoBOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="NadekoBOT is a multifunctional Discord bot with an extreme range of capabilities." />
    <meta name="keywords" content="discord, bot, nadeko, snake" />

    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/base.css">
    <!--
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
        -->
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="/">
                <img class="img-responsive" src="images/logo.png" alt="NadekoBOT_logo" />
            </a>
        </div>
        <!-- /.logo -->
        <nav class="main-nav navbar navbar-default" id="main_nav">
            <div class="container-fluid row">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <img class="sticky-logo" src="images/logo_sticky.png" alt="NadekoBOT_logo" />
                        <ul class="nav navbar-nav">
                            <menulink controller-name="Home" action-name="Index" menu-text="Home"></menulink>
                            <li>
                                <a target="_blank" href="https://discord.gg/0ehQwTK2RBjAxzEY">Discord Help Server <i class="fa fa-external-link" aria-hidden="true"></i></a>
                            </li>
                            <menulink controller-name="Login" action-name="Index" menu-text="Login"></menulink>
                        </ul>
                        <!-- <a id="search_button" class="search-button" href="#"><i class="icon-search"></i></a> -->
                    </div><!--/.nav-collapse -->
                </div><!--/.container -->
            </div><!--/.container-fluid -->
        </nav>
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)

    <footer>
        <div class="copyright">
            © Copyright by the Aurora Project and NadekoBot Team.
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/site.js"></script>
    <script>
        //google analytics
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82226005-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>
