@{
    ViewData["Title"] = "CommandsList";
}
<div class="container-fluid page-data">
    <div class="container">
        <div class="commands panel-group" id="accordion">
            <div class="panel panel-default collapsed" data-toggle="collapse" data-parent="#accordion" href="#module-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Help</h4>
                </div>
                <div id="module-1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="ch-wrap col-xs-12 col-sm-3">
                                <div class="command-header">Command</div>
                            </div>
                            <div class="ch-wrap col-xs-12 col-sm-6">
                                <div class="command-header">Description</div>
                            </div>
                            <div class="ch-wrap col-xs-12 col-sm-3">
                                <div class="command-header">Usage</div>
                            </div>
                        </div>
                        <div class="command-wrap row">
                            <div class="command col-xs-12 col-sm-3">
                                <p>
                                    <code>-h</code>,
                                    <code>-help</code>,
                                    <code>@@BotName help</code>,
                                    <code>@@BotName h</code>,
                                    <code>~h</code>
                                </p>
                            </div>
                            <div class="description col-xs-12 col-sm-6">
                                <p>Either shows a help for a single command, or PMs you help link if no arguments are specified.</p>
                            </div>
                            <div class="usage col-xs-12 col-sm-3">
                                <p>‘-h !!q’ or just ‘-h’</p>
                            </div>
                        </div>
                        <div class="command-wrap row">
                            <div class="command col-xs-12 col-sm-3">
                                <p>
                                    <code>-hgit</code>
                                </p>
                            </div>
                            <div class="description col-xs-12 col-sm-6">
                                <p>Generates the commandlist.md file. <strong>Bot Owner Only!</strong></p>
                            </div>
                            <div class="usage col-xs-12 col-sm-3">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default collapsed" data-toggle="collapse" data-parent="#accordion" href="#module-2">
                <div class="panel-heading">
                    <h4 class="panel-title">Administration</h4>
                </div>
                <div id="module-2" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="panel panel-default collapsed" data-toggle="collapse" data-parent="#accordion" href="#module-3">
                <div class="panel-heading">
                    <h4 class="panel-title">Utility</h4>
                </div>
                <div id="module-3" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>