@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid page-data">
    <div class="container">
        <section class="section-wrap clear">
            <div class="section-header-wrap">
                <div class="section-header">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    <p>Stats and Info</p>
                </div>
            </div>
            <div class="stat-wrap col-xs-12 col-sm-6">
                <div class="separator"></div>
                <h4>Used by</h4>
                <div class="number" id="server_count">@Model</div>
                <script type="text/javascript">
                    //todo Move to its own function, and to a file with all/any other scripts
                    (function () {
                        var elem = document.getElementById('server_count');
                        var serverCount = +elem.innerHTML;
                        elem.innerHTML = 0;
                        var fps = 30;
                        var totalSeconds = 1.25;
                        var serversPerSecondPerFrame = serverCount / totalSeconds / fps;
                        var i = 0;
                        var intervalId = setInterval(function () {
                            i = Math.round(i + serversPerSecondPerFrame);
                            if (i >= serverCount) {
                                i = serverCount;
                                clearInterval(intervalId);
                            }
                            elem.innerHTML = i.toString();
                        }, 1000 / fps);
                    })();
                </script>
                <h3>Servers</h3>
                <div class="separator"></div>
                <a class="pink-button" href="http://nadekobot.rtfd.io" target="_blank">
                    <i class="fa fa-book"></i>
                    <span id="docs_text">Documentation</span>
                </a>
                <div class="separator"></div>
                <script type="text/javascript">
                    //todo Move to its of function/file
                    (function () {
                        var texts = ["Wiki", "Command List", "Hosting Guides", "Info", "Faq", "Docs"]
                        var docsElem = document.getElementById('docs_text');
                        var i = 0;
                        setInterval(function (elem) {
                            docsElem.innerHTML = texts[i >= texts.length ? i = 0 : i++];
                        }, 3000, docsElem);
                    })();
                </script>
            </div>
            <div class="stat-wrap col-xs-12 col-sm-6">
                <div class="separator"></div>
                <div class="icon">
                    <a href="https://discordapp.com/oauth2/authorize?client_id=170254782546575360&scope=bot&permissions=66186303" target="_blank"><i class="icon-user-add"></i></a>
                </div>
                <h4>Add To Server</h4>
                <div class="separator"></div>
            </div>
        </section>
        <section class="section-wrap clear">
            <div class="section-header-wrap">
                <div class="section-header">
                    <p>Features</p>
                </div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-check"></i>
                </div>
                <h4 class="title">Easy To Use</h4>
                <div class="desc">You see that button at the top? Yeah the one that says “Add to server”? Hit that, authorize our lovely Nadeko-chan, and you’re done!</div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-cloud"></i>
                </div>
                <h4 class="title">Cloud Hosted</h4>
                <div class="desc">NadekoBot is hosted on a Dedicated Server in Canada... that’s all we know. It might be a secret government facility! I’m really not allowed to say any more...</div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-cog"></i>
                </div>
                <h4 class="title">Intergrations</h4>
                <div class="desc">Want to check the Wiki for something? Get an Urban Dictionary definition? How about some stats for popular games? Nadeko has a lot of connections, even for those special requests we love so much!</div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-users"></i>
                </div>
                <h4 class="title">Support</h4>
                <div class="desc">We have the sweetest support! Seriously, these guys and gals actually want to help! Insane, isn’t it? If you have issues, concerns, suggestions, hop on over!</div>
            </div>
        </section>
        <section class="section-wrap clear">
            <div class="section-header-wrap">
                <div class="section-header">
                    <i class="fa fa-anchor" aria-hidden="true"></i>
                    <p>Donations</p>
                </div>
            </div>
            <p>If you want to help and support the project, you can send your donations to <code>nadekodiscordbot@gmail.com</code></p>
            <img class="img-responsive" src="images/kyoukai-no-kanata.gif" alt="miraichan-plsmoney" />
        </section>
        <section class="section-wrap clear">
            <div class="section-header-wrap">
                <div class="section-header">
                    <i class="fa fa-user-secret"></i>
                    <p>Higher-Ups</p>
                </div>
            </div>
            <div class="clear">
                <div class="team col-xs-12 col-sm-6">
                    <h4 class="title">Kwoth</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="~/images/team/kwoth.jpg" alt="NadekoBOT_Master Kwoth">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Lead Developer</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-6">
                    <h4 class="title">Mirai</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="~/images/team/mirai.jpg" alt="NadekoBOT_Magical Girl">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Magical Girl</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-4">
                    <h4 class="title">Pluriscient</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="~/images/team/dragon.jpg" alt="NadekoBOT_Pluriscient">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Customer Support</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-4">
                    <h4 class="title">samvaio</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="~/images/team/samvaio.jpg" alt="NadekoBOT_samvaio">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Customer Support</h4>
                    </div>
                </div>
                <div class="team col-xs-12 col-sm-4">
                    <h4 class="title">Kong</h4>
                    <div class="img-wrapper">
                        <img class="img-responsive" src="~/images/team/kong.jpg" alt="NadekoBOT_Kong">
                    </div>
                    <div class="desc-wrapper">
                        <h4>Customer Support</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
