@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid page-data">
    <div class="container">
        <section class="section-wrap clear">
            <div class="section-header-wrap">
                <div class="section-header">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    <p>Stats and Info</p>
                </div>
            </div>
            <div class="stat-wrap col-xs-12 col-sm-6">
                <div class="separator"></div>
                <h4>Used by</h4>
                <div class="number" data-to="0">0</div>
                <h3>Servers</h3>
                <div class="separator"></div>
                <button class="pink-button">
                    <i class="fa fa-book"></i>
                    Wiki
                </button>
                <div class="separator"></div>
            </div>
            <div class="stat-wrap col-xs-12 col-sm-6">
                <div class="separator"></div>
                <div class="icon">
                    <i class="icon-user-add"></i>
                </div>
                <h4>Add To Server</h4>
                <div class="separator"></div>
            </div>
        </section>
        <section class="section-wrap clear">
            <div class="section-header-wrap">
                <div class="section-header">
                    <p>Features</p>
                </div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-check"></i>
                </div>
                <h4 class="title">Easy To Use</h4>
                <div class="desc">You see that button at the top? Yeah the one that says “Add to server”? Hit that, authorize our lovely Nadeko-chan, and you’re done!</div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-cloud"></i>
                </div>
                <h4 class="title">Cloud Hosted</h4>
                <div class="desc">NadekoBot is hosted on a Dedicated Server in Canada... that’s all we know. It might be a secret government facility! I’m really not allowed to say any more...</div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-cog"></i>
                </div>
                <h4 class="title">Intergrations</h4>
                <div class="desc">Want to check the Wiki for something? Get an Urban Dictionary definition? How about some stats for popular games? Nadeko has a lot of connections, even for those special requests we love so much!</div>
            </div>
            <div class="feature col-xs-12 col-sm-6 col-md-3">
                <div class="icon">
                    <i class="icon-users"></i>
                </div>
                <h4 class="title">Support</h4>
                <div class="desc">We have the sweetest support! Seriously, these guys and gals actually want to help! Insane, isn’t it? If you have issues, concerns, suggestions, hop on over!</div>
            </div>
        </section>
        <section class="section-wrap clear">
            <div class="section-header-wrap">
                <div class="section-header">
                    <i class="fa fa-anchor" aria-hidden="true"></i>
                    <p>Donations</p>
                </div>
            </div>
            <p>If you want to help and support the project, you can send your donations to <code>nadekodiscordbot@gmail.com</code></p>
            <img class="img-responsive" src="images/kyoukai-no-kanata.gif" alt="miraichan-plsmoney" />
        </section>
    </div>
</div>
